@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
}

#titulo {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.253);
}

body {
    margin: 0px;
    background-color: #84E1AD;
    
    header { 
        background-image: linear-gradient(to bottom, #3DDA83, #174F31);
        box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.274);
        padding-top: 10px;
        margin-top: 0px;
        padding-bottom: 5px;
    }

    header > h2 {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
        text-align: center;
        max-width: 500px; 
        margin: auto;
        padding-bottom: 20px;
    }

    nav > a {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-decoration: none;
        margin: 10px 15px;
        transition-duration: 0.5s;
    }

    nav > a:hover {
        background-color: #31b36c;
        padding: 5px;
        border-radius: 8px;
    }

    main {
        background-color: white;
        padding-top: 1px;
        padding-bottom: 40px;
        margin: 0% 10%;
        box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.301);
        border-radius: 10px;
    }

    main img {
        display: block;
        margin: 0 auto;
    }



    main > h1 {
        font-family: 'idroid', Arial, sans-serif;
        color: #136136;
        margin: 30px 10px;
    }

    main > h2 {
        font-family: 'idroid', Arial, sans-serif;
        color: #136136;
        margin: 20px 10px;
        background-image: linear-gradient(to right, #C6ECD6, white);
    }

    main > p {
        text-indent: 30px;
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        margin: 20px 10px;
    }

    div.yt {
        border-radius: 10px;
        padding: 10px;
        padding-top: 20%;
        padding-bottom: 20%;
        margin: 0 0%;
        background-color: #136136;
        position: relative;
    }

    div.yt > iframe {
        position: absolute;
        top: 5%;
        left: 10%;
        width: 80%;
        height: 90%;
    }

    p > a {
        text-decoration: none;
        color: #126638;
    }

    main strong {
        color: #126638;
    }

    section {
        background-color:#C5EBD6;
        margin: 30px 20px;
        border-radius: 10px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.212);
        padding-bottom: 15px;
    }

    section > h3 {
        text-indent: 10px;
        padding: 5px;
        margin: 10px 0px;
        background-color: #198b4d;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 10px 10px 0px 0px;
    }

    section > p {
        margin: 30px 20px;
        text-indent: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
    }

    section ul {
        columns: 2;
        font-family: Arial, Helvetica, sans-serif;
    }

    footer > div {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: flex;
        background-color: #174F31;
        max-height: 40px;
        margin-top: 15px;

    }
}